public_html/contactos.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <div class="content__article">
          <div id="form">
            <h2 class="title__content">Contáctenos</h2>
            <form class="form" v-on:submit.prevent="submitForm">
              <div class="col50">
                <div class="item">
                  <label class="form__label" for="">Nombre completo: </label>
                  <input class="form__input" v-model="vue.nombre" type="text" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Teléfono: </label>
                  <input class="form__input" v-model="vue.telefono" type="number" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Celular: </label>
                  <input class="form__input" v-model="vue.movil" type="number" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Dirección: </label>
                  <input class="form__input" v-model="vue.direccion" type="text" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Ciudad: </label>
                  <input class="form__input" v-model="vue.ciudad" type="text" required=""/>
                </div>
              </div>
              <div class="col50">
                <div class="item">
                  <label class="form__label" for="">Email: </label>
                  <input class="form__input" v-model="vue.email" type="email" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Mensaje: </label>
                  <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
                </div>
                <div class="form_buttons">
                  <button class="form__button" type="submit">Enviar</button>
                  <button class="form__button" v-on:click="clearForm()">Limpiar</button>
                </div>
                <div class="statusMessage" v-if="formSubmitted">
                  <h4>{{ vue.envio }}</h4>
                </div>
              </div>
            </form>
          </div>
        </div>
        <h2 class="title__content">Ubícación</h2>
        <iframe class="iframe__map" src="https://www.google.com/maps/d/embed?mid=1cm17kxG_FiaVxf-O0bQq27icK2I" width="640" height="450"></iframe>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <script src="js/formulario.js"></script>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main-vue.js"></script>
  </body>
</html>

pug/contactos.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        .content__article
          #form
            h2.title__content Contáctenos
            form.form(v-on:submit.prevent="submitForm")
              .col50
                .item
                  label.form__label(for="") Nombre completo: 
                  input.form__input(v-model="vue.nombre" type="text" required="")
                .item
                  label.form__label(for="") Teléfono: 
                  input.form__input(v-model="vue.telefono" type="number" required="")
                .item
                  label.form__label(for="") Celular: 
                  input.form__input(v-model="vue.movil" type="number" required="")
                .item
                  label.form__label(for="") Dirección: 
                  input.form__input(v-model="vue.direccion" type="text" required="")
                .item
                  label.form__label(for="") Ciudad: 
                  input.form__input(v-model="vue.ciudad" type="text" required="")
              .col50
                .item
                  label.form__label(for="") Email: 
                  input.form__input(v-model="vue.email" type="email" required="")
                .item
                  label.form__label(for="") Mensaje: 
                  textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
                .form_buttons
                  button.form__button(type="submit") Enviar
                  button.form__button(v-on:click="clearForm()") Limpiar
                .statusMessage(v-if="formSubmitted")
                  h4 {{ vue.envio }}
        h2.title__content Ubícación
        iframe.iframe__map(src="https://www.google.com/maps/d/embed?mid=1cm17kxG_FiaVxf-O0bQq27icK2I" width="640" height="450")
      +aside('Contactos')
    script(src="js/formulario.js")
    include blocks/footer.pug
    script(src="js/main-vue.js")
