pug/index.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        link(rel='stylesheet', href='cssslider_files/csss_engine1/style.css')
        .csslider1.autoplay
          input#cs_slide1_0.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_1.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_2.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_3.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_4.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_play1.cs_anchor(name='cs_anchor1', type='radio', checked='')
          input#cs_pause1_0.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_1.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_2.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_3.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_4.cs_anchor.pause(name='cs_anchor1', type='radio')
          ul
            li.cs_skeleton
              img(src='cssslider_files/csss_images1/zetor_1.jpg', style='width: 100%;')
            li.num0.img.slide
              img(src='cssslider_files/csss_images1/zetor_1.jpg', alt='Tractores Agrícolas', title='Tractores Agrícolas')
            li.num1.img.slide
              img(src='cssslider_files/csss_images1/inyeccin_diesel_bosch_5.jpg', alt='Motores Diesel', title='Motores Diesel')
            li.num2.img.slide
              img(src='cssslider_files/csss_images1/inyectores_zexel_1.jpg', alt='Sistemas de Inyección', title='Sistemas de Inyección')
            li.num3.img.slide
              img(src='cssslider_files/csss_images1/sistema_inyeccion_mecanico_3.jpg', alt='Reparación y Mantenimiento', title='Reparación y Mantenimiento')
            li.num4.img.slide
              img(src='cssslider_files/csss_images1/turbo_alimentador_garrett_5.jpg', alt='Turboalimentadores', title='Turboalimentadores')
          .cs_engine
            a(href='http://cssslider.com') slider css3
            |  by cssSlider.com v1.9
          .cs_description
            label.num0
              span.cs_title
                span.cs_wrapper Tractores Agrícolas
            label.num1
              span.cs_title
                span.cs_wrapper Motores Diesel
            label.num2
              span.cs_title
                span.cs_wrapper Sistemas de Inyección
            label.num3
              span.cs_title
                span.cs_wrapper Reparación y Mantenimiento
            label.num4
              span.cs_title
                span.cs_wrapper Turboalimentadores
          .cs_play_pause
            label.cs_play(for='cs_play1')
              span
                i
                b
            label.cs_pause.num0(for='cs_pause1_0')
              span
                i
                b
            label.cs_pause.num1(for='cs_pause1_1')
              span
                i
                b
            label.cs_pause.num2(for='cs_pause1_2')
              span
                i
                b
            label.cs_pause.num3(for='cs_pause1_3')
              span
                i
                b
            label.cs_pause.num4(for='cs_pause1_4')
              span
                i
                b
          .cs_arrowprev
            label.num0(for='cs_slide1_0')
              span
                i
                b
            label.num1(for='cs_slide1_1')
              span
                i
                b
            label.num2(for='cs_slide1_2')
              span
                i
                b
            label.num3(for='cs_slide1_3')
              span
                i
                b
            label.num4(for='cs_slide1_4')
              span
                i
                b
          .cs_arrownext
            label.num0(for='cs_slide1_0')
              span
                i
                b
            label.num1(for='cs_slide1_1')
              span
                i
                b
            label.num2(for='cs_slide1_2')
              span
                i
                b
            label.num3(for='cs_slide1_3')
              span
                i
                b
            label.num4(for='cs_slide1_4')
              span
                i
                b
          .cs_bullets
            label.num0(for='cs_slide1_0')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/zetor_1.jpg', alt='Tractores Agrícolas', title='Tractores Agrícolas')
            label.num1(for='cs_slide1_1')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/inyeccin_diesel_bosch_5.jpg', alt='Motores Diesel', title='Motores Diesel')
            label.num2(for='cs_slide1_2')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/inyectores_zexel_1.jpg', alt='Sistemas de Inyección', title='Sistemas de Inyección')
            label.num3(for='cs_slide1_3')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/sistema_inyeccion_mecanico_3.jpg', alt='Reparación y Mantenimiento', title='Reparación y Mantenimiento')
            label.num4(for='cs_slide1_4')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/turbo_alimentador_garrett_5.jpg', alt='Turboalimentadores', title='Turboalimentadores')
      //- include blocks/aside.pug
      +aside('Inicio')
    include blocks/footer.pug

public_html/index.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <link rel="stylesheet" href="cssslider_files/csss_engine1/style.css"/>
        <div class="csslider1 autoplay">
          <input class="cs_anchor slide" id="cs_slide1_0" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor slide" id="cs_slide1_1" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor slide" id="cs_slide1_2" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor slide" id="cs_slide1_3" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor slide" id="cs_slide1_4" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor" id="cs_play1" name="cs_anchor1" type="radio" checked=""/>
          <input class="cs_anchor pause" id="cs_pause1_0" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor pause" id="cs_pause1_1" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor pause" id="cs_pause1_2" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor pause" id="cs_pause1_3" name="cs_anchor1" type="radio"/>
          <input class="cs_anchor pause" id="cs_pause1_4" name="cs_anchor1" type="radio"/>
          <ul>
            <li class="cs_skeleton"><img src="cssslider_files/csss_images1/zetor_1.jpg" style="width: 100%;"/></li>
            <li class="num0 img slide"><img src="cssslider_files/csss_images1/zetor_1.jpg" alt="Tractores Agrícolas" title="Tractores Agrícolas"/></li>
            <li class="num1 img slide"><img src="cssslider_files/csss_images1/inyeccin_diesel_bosch_5.jpg" alt="Motores Diesel" title="Motores Diesel"/></li>
            <li class="num2 img slide"><img src="cssslider_files/csss_images1/inyectores_zexel_1.jpg" alt="Sistemas de Inyección" title="Sistemas de Inyección"/></li>
            <li class="num3 img slide"><img src="cssslider_files/csss_images1/sistema_inyeccion_mecanico_3.jpg" alt="Reparación y Mantenimiento" title="Reparación y Mantenimiento"/></li>
            <!--<li class="num4 img slide"><img src="cssslider_files/csss_images1/turbo_alimentador_garrett_5.jpg" alt="Turboalimentadores" title="Turboalimentadores"/></li>-->
          </ul>
          <div class="cs_engine"><a href="http://cssslider.com">slider css3</a> by cssSlider.com v1.9</div>
          <div class="cs_description">
            <label class="num0"><span class="cs_title"><span class="cs_wrapper">Tractores Agrícolas</span></span></label>
            <label class="num1"><span class="cs_title"><span class="cs_wrapper">Motores Diesel</span></span></label>
            <label class="num2"><span class="cs_title"><span class="cs_wrapper">Sistemas de Inyección</span></span></label>
            <label class="num3"><span class="cs_title"><span class="cs_wrapper">Reparación y Mantenimiento</span></span></label>
            <label class="num4"><span class="cs_title"><span class="cs_wrapper">Turboalimentadores</span></span></label>
          </div>
          <div class="cs_play_pause">
            <label class="cs_play" for="cs_play1"><span><i></i><b></b></span></label>
            <label class="cs_pause num0" for="cs_pause1_0"><span><i></i><b></b></span></label>
            <label class="cs_pause num1" for="cs_pause1_1"><span><i></i><b></b></span></label>
            <label class="cs_pause num2" for="cs_pause1_2"><span><i></i><b></b></span></label>
            <label class="cs_pause num3" for="cs_pause1_3"><span><i></i><b></b></span></label>
            <label class="cs_pause num4" for="cs_pause1_4"><span><i></i><b></b></span></label>
          </div>
          <div class="cs_arrowprev">
            <label class="num0" for="cs_slide1_0"><span><i></i><b></b></span></label>
            <label class="num1" for="cs_slide1_1"><span><i></i><b></b></span></label>
            <label class="num2" for="cs_slide1_2"><span><i></i><b></b></span></label>
            <label class="num3" for="cs_slide1_3"><span><i></i><b></b></span></label>
            <label class="num4" for="cs_slide1_4"><span><i></i><b></b></span></label>
          </div>
          <div class="cs_arrownext">
            <label class="num0" for="cs_slide1_0"><span><i></i><b></b></span></label>
            <label class="num1" for="cs_slide1_1"><span><i></i><b></b></span></label>
            <label class="num2" for="cs_slide1_2"><span><i></i><b></b></span></label>
            <label class="num3" for="cs_slide1_3"><span><i></i><b></b></span></label>
            <label class="num4" for="cs_slide1_4"><span><i></i><b></b></span></label>
          </div>
          <div class="cs_bullets">
            <label class="num0" for="cs_slide1_0"><span class="cs_point"></span><span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/zetor_1.jpg" alt="Tractores Agrícolas" title="Tractores Agrícolas"/></span></label>
            <label class="num1" for="cs_slide1_1"><span class="cs_point"></span><span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/inyeccin_diesel_bosch_5.jpg" alt="Motores Diesel" title="Motores Diesel"/></span></label>
            <label class="num2" for="cs_slide1_2"><span class="cs_point"></span><span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/inyectores_zexel_1.jpg" alt="Sistemas de Inyección" title="Sistemas de Inyección"/></span></label>
            <label class="num3" for="cs_slide1_3"><span class="cs_point"></span><span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/sistema_inyeccion_mecanico_3.jpg" alt="Reparación y Mantenimiento" title="Reparación y Mantenimiento"/></span></label>
            <label class="num4" for="cs_slide1_4"><span class="cs_point"></span><span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/turbo_alimentador_garrett_5.jpg" alt="Turboalimentadores" title="Turboalimentadores"/></span></label>
          </div>
        </div>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
