pug/laboratorio-de-reparacion-y-balanceo.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Laboratorio de reparación y balanceo
        article.content__article
          p.content__text Para lograr un servicios de primera calidad, MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Un gabinete especializado, dotado de dos máquina balanceadores electrónicas digitales para el equilibrado o balanceado del conjunto rotatorio de un turboalimentador.
              li.content__li Una cabina para la limpieza mediante impacto de micro esferas no abrasivas de vidrio.
              li.content__li Varios accesorios y herramientas indispensables en este trabajo.
        hr
        article.block
          h3#balanceo-dinamico-de-turboalimentadores.subtitle__content_big Balanceo dinámico de turboalimentadores
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg", data-fancybox="laboratorio", data-caption="Balanceo dinámico de turboalimentadores")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg", alt="Balanceo dinámico de turboalimentadores")
          p.content__text Este procedimiento se realiza en máquinas especialmente desarrolladas para el balanceo del turboalimentador. La alta velocidad y la elevada temperatura de trabajo puede causar mucha vibración en el rotor del turbo.Si no se tiene un buen balanceo esto puede causar daños graves en el turbo e inclusive la rotura total.
          p.content__text Los turbos reparados por <b>Morales & Cia</b> son entregados a nuestros clientes con un correcto balanceo lo cual nos permite garantizar nuestro trabajo.
          hr
          h3#balanceo-electronico-o-digital.subtitle__content_big Balanceo electrónico o digital
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg", data-fancybox="laboratorio", data-caption="Balanceo electrónico o digital")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg",alt="Balanceo electrónico o digital")
          p.content__text El balanceo electrónico digital se utiliza en piezas del eje y alabe del turbo con una presición y caractersisticas requeridas por el fabricante.
          p.content__text La tracción de la pieza se realiza mediante una correa plana a velocidad constante. Las indicaciones de ángulo y cantidad son proporcionadas por el equipo electrónico.
      +aside('LABORATORIO DE REPARACIÓN Y BALANCEO')
    hr
    include blocks/footer.pug

public_html/laboratorio-de-reparacion-y-balanceo.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Laboratorio de reparación y balanceo</h2>
        <article class="content__article">
          <p class="content__text">Para lograr un servicios de primera calidad, MORALES Y CIA. LTDA. cuenta con:</p>
          <ul class="content__list">
            <div class="item">
              <li class="content__li">Un gabinete especializado, dotado de dos máquina balanceadores electrónicas digitales para el equilibrado o balanceado del conjunto rotatorio de un turboalimentador.</li>
              <li class="content__li">Una cabina para la limpieza mediante impacto de micro esferas no abrasivas de vidrio.</li>
              <li class="content__li">Varios accesorios y herramientas indispensables en este trabajo.</li>
            </div>
          </ul>
        </article>
        <hr/>
        <article class="block">
          <h3 class="subtitle__content_big" id="balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</h3>
          <div class="col60"><a class="center__logo" href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg" data-fancybox="laboratorio" data-caption="Balanceo dinámico de turboalimentadores"><img src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg" alt="Balanceo dinámico de turboalimentadores"/></a></div>
          <p class="content__text">Este procedimiento se realiza en máquinas especialmente desarrolladas para el balanceo del turboalimentador. La alta velocidad y la elevada temperatura de trabajo puede causar mucha vibración en el rotor del turbo.Si no se tiene un buen balanceo esto puede causar daños graves en el turbo e inclusive la rotura total.</p>
          <p class="content__text">Los turbos reparados por <b>Morales & Cia</b> son entregados a nuestros clientes con un correcto balanceo lo cual nos permite garantizar nuestro trabajo.</p>
          <hr/>
          <h3 class="subtitle__content_big" id="balanceo-electronico-o-digital">Balanceo electrónico o digital</h3>
          <div class="col60"><a class="center__logo" href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg" data-fancybox="laboratorio" data-caption="Balanceo electrónico o digital"><img src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg" alt="Balanceo electrónico o digital"/></a></div>
          <p class="content__text">El balanceo electrónico digital se utiliza en piezas del eje y alabe del turbo con una presición y caractersisticas requeridas por el fabricante.</p>
          <p class="content__text">La tracción de la pieza se realiza mediante una correa plana a velocidad constante. Las indicaciones de ángulo y cantidad son proporcionadas por el equipo electrónico.</p>
        </article>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item active"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <hr/>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
