public_html/reparación-y-mantenimiento-de-sistemas-de-inyeccion.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Reparación y mantenimiento de sistemas de inyección</h2><img class="center__logo" src="images/reparacion-y-mantenimiento/reparacion-y-mantenimiento.jpg" alt="REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN"/><br/>
        <article class="content__article">
          <p class="content__text">MORALES Y CIA. LTDA. cuenta con:</p>
          <ul class="content__list">
            <div class="item">
              <li class="content__li">Dos laboratorios equipados con seis bancos de pruebas de tipo universal para bombas de inyección diesel, con especificación internacional ISO 4008.</li>
              <li class="content__li">Dos rectif icadores de toberas.</li>
              <li class="content__li">Cuatro probadores de inyectores.</li>
              <li class="content__li">Un equipo de pruebas para inyector bomba unitario tipo GM.</li>
              <li class="content__li">Un equipo de prueba par inyector tipo Cummins.</li>
              <li class="content__li">Un lector de microfichas que contienen información técnica.</li>
            </div>
          </ul>
          <p class="content__text">Además de los accesorios y herramientas requeridos para prestar un servicio adecuado y eficiente en todas las áreas mencionadas.</p>
        </article>
        <hr/>
        <article class="block">
          <h3 class="subtitle__content_big" id="diesel-mecanicos">Sistemas de inyección diesel mecánicos</h3>
          <div class="col60"><a class="center__logo" href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg" data-fancybox="mecanico" data-caption="Sistema de Inyección Mecánico"><img src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg" alt="Reparacion y mantenimineto de sistemas de inyeccion"/></a></div>
          <p class="content__text">El motor diesel al igual que cualquier motor de combustión interna, funciona en un rango de potencia y velocidad de rotación que depende directamente de la entrega de combustible. La potencia generada en el motor depende directamente de la voluntad del conductor. La voluntad está representada en la presión aplicada en el pedal del acelerador y se acomoda a las condiciones del terreno.</p>
          <p class="content__text">El sistema mecánico sirve para inyectar, de acuerdo a la secuencia de encendido de un motor, cierta cantidad de combustible a alta presión y finamente pulverizado en el ciclo de compresión del motor, el cual, al ponerse en contacto con el aire muy caliente, se mezcla y se enciende produciéndose la combustión.</p>
          <p class="content__text">La función es la de producir la inyección de combustible líquido finamente pulverizado en el momento indicado y en la cantidad justa de acuerdo al régimen de funcionamiento del motor.</p>
          <hr/>
        </article>
        <article class="block">
          <h3 class="subtitle__content_big" id="diesel-electricos">Sistemas de inyección diesel electrónicos</h3>
          <div class="col60"><a class="center__logo" href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG" data-fancybox="mecanico" data-caption="Sistema de Inyección Mecánico"><img src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG" alt="Reparacion y mantenimineto de sistemas de inyeccion"/></a></div>
          <p class="content__text">Como consecuencia de los últimos adelantos tecnológicos y el uso de la electrónica dentro de los sistemas de inyección diesel en unidades importadas a Bolivia MORALES Y CIA. LTDA. ha implementado este servicio, más propiamente para bombas tipo COVEC-F (Computed VE pump control system-Full), que utilizando un microprocesador controla con mucha precisión la dosificación del combustible y el grado avance de la inyección, mediante el empleo de un gobernador electrónico y otros dispositivos adicionales.</p>
          <hr/>
        </article>
        <article class="content__article"> 
          <div class="gallery__item"><a class="col__img" href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg" data-fancybox="mecanico" data-caption="Sistema de Inyección Mecánico"><img src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg" alt="Reparacion y mantenimineto de sistemas de inyeccion"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Sistema de inyección diesel Mecánico</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg" data-fancybox="mecanico" data-caption="Sistema de Inyección Mecánico"><img src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg" alt="Reparacion y mantenimineto de sistemas de inyeccion"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Sistema de inyección diesel electrónico</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg" data-fancybox="mecanico" data-caption="Sistema de Inyección Mecánico"><img src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg" alt="Reparacion y mantenimineto de sistemas de inyeccion"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Sistema de inyección diesel electrónico</p>
          </div>
        </article>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item active"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/reparación-y-mantenimiento-de-sistemas-de-inyeccion.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Reparación y mantenimiento de sistemas de inyección
        img.center__logo(src="images/reparacion-y-mantenimiento/reparacion-y-mantenimiento.jpg", alt="REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN")      
        br
        article.content__article
          p.content__text MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Dos laboratorios equipados con seis bancos de pruebas de tipo universal para bombas de inyección diesel, con especificación internacional ISO 4008.
              li.content__li Dos rectif icadores de toberas.
              li.content__li Cuatro probadores de inyectores.
              li.content__li Un equipo de pruebas para inyector bomba unitario tipo GM.
              li.content__li Un equipo de prueba par inyector tipo Cummins.
              li.content__li Un lector de microfichas que contienen información técnica.
          p.content__text Además de los accesorios y herramientas requeridos para prestar un servicio adecuado y eficiente en todas las áreas mencionadas.
        hr
        article.block
          h3#diesel-mecanicos.subtitle__content_big Sistemas de inyección diesel mecánicos
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
          p.content__text El motor diesel al igual que cualquier motor de combustión interna, funciona en un rango de potencia y velocidad de rotación que depende directamente de la entrega de combustible. La potencia generada en el motor depende directamente de la voluntad del conductor. La voluntad está representada en la presión aplicada en el pedal del acelerador y se acomoda a las condiciones del terreno.
          p.content__text El sistema mecánico sirve para inyectar, de acuerdo a la secuencia de encendido de un motor, cierta cantidad de combustible a alta presión y finamente pulverizado en el ciclo de compresión del motor, el cual, al ponerse en contacto con el aire muy caliente, se mezcla y se enciende produciéndose la combustión.
          p.content__text La función es la de producir la inyección de combustible líquido finamente pulverizado en el momento indicado y en la cantidad justa de acuerdo al régimen de funcionamiento del motor.
          hr
        article.block
          h3#diesel-electricos.subtitle__content_big Sistemas de inyección diesel electrónicos
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG",alt="Reparacion y mantenimineto de sistemas de inyeccion")
          p.content__text Como consecuencia de los últimos adelantos tecnológicos y el uso de la electrónica dentro de los sistemas de inyección diesel en unidades importadas a Bolivia MORALES Y CIA. LTDA. ha implementado este servicio, más propiamente para bombas tipo COVEC-F (Computed VE pump control system-Full), que utilizando un microprocesador controla con mucha precisión la dosificación del combustible y el grado avance de la inyección, mediante el empleo de un gobernador electrónico y otros dispositivos adicionales.
          hr
        article.content__article  
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel Mecánico
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel electrónico
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel electrónico
      +aside('REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN')
    include blocks/footer.pug
