public_html/repuestos-para-tractores-agricolas.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Repuestos para tractor. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Repuestos para tractor. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Repuestos para tractores agrícolas</h2>
        <article class="block">
          <!--
          <h3 class="subtitle__content_big" id="fiat">FIAT</h3>
          <div class="col60"><a class="center__logo" href="images/repuestos-tractor/fiat.jpg" data-fancybox="fiat-repuesto" data-caption="Repustos FIAT"><img src="images/repuestos-tractor/fiat.jpg" alt="FIAT Repuestos"/></a></div>
          <p class="content__text">Para que todo funcione correctamente en su vehículo, es necesario utilizar repuestos originales, fabricados y certificados por Fiat.</p>
          <p class="content__text">Al utilizar repuestos genéricos se expone al vehículo a un mal desempeño, mayor desgaste de las piezas, y fallas en el motor.</p>
          <p class="content__text">Utilizando repuestos originales, su Fiat continuará brindándole el mejor desempeño.</p>
          <hr/>
          <h3 class="subtitle__content_big" id="perkins">Perkins</h3>
          <div class="col60"><a class="center__logo" href="images/repuestos-tractor/perkins-1.jpg" data-fancybox="repuestos-perkins" data-caption="Perkins"><img src="images/repuestos-tractor/perkins-1.jpg" alt="Perkins"/></a></div>
          <p class="content__text">Para los motores Perkins, montados en Tractores Repuestos para tractor MF65, 165, 265, 290, 296, Plantas eléctricas y algunas aplicaciones vehiculares, ofrecemos los kit completos de reparación en marca Perkins original y en marcas alternas que le ofrecen la mejor calidad cada dia más a su alcance.</p>
          <hr/>-->
          <!-- <h3 class="subtitle__content_big">Repuestos para tractor</h3> -->
          <div class="col60"><a class="center__logo" href="images/repuestos-tractor/repuestos-para-tractor.jpg" data-fancybox="repuestos-massey-ferguson" data-caption="Repuestos para tractor"><img src="images/repuestos-tractor/repuestos-para-tractor.jpg" alt="Repuestos para tractor"/></a></div>
          <p class="content__text">Contamos con una amplia gama de repuestos de tractor Massey Ferguson y Fiat como ser Kit de reparación de motor, Bombas Hidráulicas para Levante y Dirección, Discos de Arados de 28" y mucho más.</p>
          <hr/>
        </article>
        <article class="content__article">
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-01.jpeg" data-fancybox="repuestos" data-caption="Filtro de combustible original">
            <img src="images/repuestos-tractor/thumbs/repuesto-01.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-02.jpeg" data-fancybox="repuestos" data-caption="Brazo Tercer Punto para Massey Ferguson y Fiat">
            <img src="images/repuestos-tractor/thumbs/repuesto-02.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-03.jpeg" data-fancybox="repuestos" data-caption="Prensa de embrague completo y kit de reparación">
            <img src="images/repuestos-tractor/thumbs/repuesto-03.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-04.jpeg" data-fancybox="repuestos" data-caption="Discos de Arado de 28">
            <img src="images/repuestos-tractor/thumbs/repuesto-04.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-05.jpeg" data-fancybox="repuestos" data-caption="Bomba de Alimentación ó Combustible">
            <img src="images/repuestos-tractor/thumbs/repuesto-05.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-06.jpeg" data-fancybox="repuestos" data-caption="Prefiltro de Aire">
            <img src="images/repuestos-tractor/thumbs/repuesto-06.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-07.jpeg" data-fancybox="repuestos" data-caption="Bomba de Dirección para Massey Ferguson">
            <img src="images/repuestos-tractor/thumbs/repuesto-07.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-08.jpeg" data-fancybox="repuestos" data-caption="Bomba hidráulica de Levante y Dirección para tractor Fiat">
            <img src="images/repuestos-tractor/thumbs/repuesto-08.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-09.jpeg" data-fancybox="repuestos" data-caption="Bombas de agua">
            <img src="images/repuestos-tractor/thumbs/repuesto-09.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-10.jpeg" data-fancybox="repuestos" data-caption="Asientos para tractor">
            <img src="images/repuestos-tractor/thumbs/repuesto-10.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-11.jpeg" data-fancybox="repuestos" data-caption="Reparo para Bomba Hidráulica">
            <img src="images/repuestos-tractor/thumbs/repuesto-11.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <!-- <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/repuesto-01.jpeg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-12.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/54-021-906.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-13.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/64-161-004.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-14.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/68-010-091.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-15.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/7011-4901.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-16.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/93-0152.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-17.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/repuestos-tractor/93-8366.jpg" data-fancybox="repuestos" data-caption="Repuestos para tractores agrícolas">
            <img src="images/repuestos-tractor/thumbs/repuesto-18.jpeg" alt="Repuestos para tractores agricolas"/>
            <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div> -->
          <hr/>
        </article>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item active"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Repuestos para tractor</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/repuestos-para-tractores-agricolas.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Repuestos para tractores agrícolas
        hr
        article.block
          h3#fiat.subtitle__content_big FIAT
          .col60
            a.center__logo(href="images/repuestos-tractor/fiat.jpg",data-fancybox="fiat-repuesto", data-caption="Repustos FIAT")
              img(src="images/repuestos-tractor/fiat.jpg", alt="FIAT Repuestos")
          p.content__text Para que todo funcione correctamente en su vehículo, es necesario utilizar repuestos originales, fabricados y certificados por Fiat.
          p.content__text Al utilizar repuestos genéricos se expone al vehículo a un mal desempeño, mayor desgaste de las piezas, y fallas en el motor.
          p.content__text Utilizando repuestos originales, su Fiat continuará brindándole el mejor desempeño.
          hr
          h3#perkins.subtitle__content_big Perkins
          .col60
            a.center__logo(href="images/repuestos-tractor/perkins-1.jpg",data-fancybox="repuestos-perkins", data-caption="Perkins")
              img(src="images/repuestos-tractor/perkins-1.jpg", alt="Perkins")
          p.content__text Para los motores Perkins, montados en Tractores Massey Ferguson MF65, 165, 265, 290, 296, Plantas eléctricas y algunas aplicaciones vehiculares, ofrecemos los kit completos de reparación en marca Perkins original y en marcas alternas que le ofrecen la mejor calidad cada dia más a su alcance.
          hr
          h3#massey-ferguson.subtitle__content_big Massey Ferguson
          .col60
            a.center__logo(href="images/repuestos-tractor/massey-ferguson-1.jpg",data-fancybox="repuestos-massey-ferguson", data-caption="Massey Ferguson")
              img(src="images/repuestos-tractor/massey-ferguson-1.jpg", alt="Massey Ferguson")
          p.content__text Hoy en día la agricultura exige maquinaria que pueda evolucionar con su negocio. Disponemos de una fantástica gama de accesorios y opciones de montaje de concesionarios, que incluye desde pesos, válvulas de carrete o elevadores hidráulicos hasta sistemas de autoguía MF de alta tecnología y señales de satélite. Disponemos de kits de mejora de los asientos, sistemas de sonido, neveras para bebidas y muchos otros complementos pensados para su comodidad.
          hr  
        article.content__article
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-000-992.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-000-992.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-011-906.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-011-906.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/16-350-230.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/16-350-230.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/53-017-019.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/53-017-019.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6011-1911.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6011-1911.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6711-5712.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6711-5712.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6918-5771.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6918-5771.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/7211-3702.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/7211-3702.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-0775.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-0775.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-000-993.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-000-993.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-022-524.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-022-524.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/16-359-975.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/16-359-975.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/54-021-906.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/54-021-906.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/64-161-004.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/64-161-004.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/68-010-091.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/68-010-091.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/7011-4901.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/7011-4901.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-0152.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-0152.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-8366.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-8366.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          hr
      +aside('REPUESTOS PARA TRACTORES AGRÍCOLAS')
    include blocks/footer.pug
