pug/sistemas-de-inyeccion.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Sistemas de inyección
        .col60
          a.center__logo(href="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg", data-fancybox="sistemas-de-inyeccion", data-caption="Sistema de Inyeccion Diesel")
            img(src="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg", alt="Sistema de Inyeccion Diesel")
        p.content__text El Sistema de inyección se encarga de llevar el combustible desde el tanque hasta los cilindros para su inyección. El Fuel Injection realiza la misma función que antes hacían la bomba de gasolina y el carburador. Dentro de este sistema de inyección encontramos los “inyectores” y “bombas de inyección“.
        p.content__text En los motores de encendido por compresión diesel, la combustión se produce cuando, el combustible que se inyecta en estado líquido, pasa a estado casi gaseoso, disgregado por medio de los inyectores y mezclados con el aire para utilizar todo el oxígeno necesario. Tras este fenómeno, la combustión se genera en puntos localizados de la cámara de combustión por autoencendido.
        p.content__text Sólo se introduce aire en el cilindro. Éste se calienta mucho por la compresión y atomiza combustible inyectado al final del golpe de compresión autoencendido.
        hr
        article.content__article
          //- h3.subtitle__content_big Bosch
          #BOSCH.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-bosch.jpg", alt="BOSCH")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -1.jpg", data-fancybox="bosch", data-caption="Inyector Bosch Ford Racing 880cc Oem")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -1.jpg", alt="Inyector Bosch Ford Racing 880cc Oem")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch Ford Racing 880cc Oem
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -2.jpg", data-fancybox="bosch", data-caption="Inyector isl 8.9 lt cummis 0445 120304 Bosch")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -2.jpg", alt="Inyector isl 8.9 lt cummis 0445 120304 Bosch")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector isl 8.9 lt cummis 0445 120304 Bosch
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -3.JPG", data-fancybox="bosch", data-caption="Inyector Bosch Renault 1.9 DCI")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -3.JPG", alt="Inyector Bosch Renault 1.9 DCI")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch Renault 1.9 DCI
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -4.jpg", data-fancybox="bosch", data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -4.jpg", alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo
          hr
          //- h3#zexel.subtitle__content_big Zexel
          #ZEXEL.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isotipo-zexel.jpg", alt="ZEXEL")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -1.jpg", data-fancybox="zexel", data-caption="T-ELEMENT 2 418 455 356, zexel plunger")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -1.jpg", alt="T-ELEMENT 2 418 455 356, zexel plunger")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text T-ELEMENT 2 418 455 356, zexel plunger
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyección diesel Zexel-4.jpg", data-fancybox="zexel", data-caption="Zexel - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyección diesel Zexel-4.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Diesel - Zexel
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -2.jpg", data-fancybox="zexel", data-caption="Zexel - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -2.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Diesel - Zexel
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -3.jpg", data-fancybox="zexel", data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -3.jpg", alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80
          hr
          //- h3#delphi.subtitle__content_big Delphi
          #DELPHI.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-delphi.jpg", alt="Delphi")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -3.jpg", data-fancybox="delphi", data-caption="Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -3.jpg", alt="Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -1.jpg", data-fancybox="delphi", data-caption="Inyector Delphi Chevrolet Captiva 2.2 E5")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -1.jpg", alt="Inyector Delphi Chevrolet Captiva 2.2 E5")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Delphi Chevrolet Captiva 2.2 E5
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -2.jpg", data-fancybox="delphi", data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -2.jpg", alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2
          hr
          //- h3#denso.subtitle__content_big Denso
          #DENSO.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-denso.jpg", alt="Denso")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -2.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -2.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -4.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -4.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -1.jpg", data-fancybox="denso", data-caption="Inyectores de combustible - Denso")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -1.jpg", alt="Inyectores de combustible - Denso")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyectores de combustible - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -3.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -3.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyección diesel -6.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyección diesel -6.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          hr
      +aside('SISTEMAS DE INYECCIÓN')
    include blocks/footer.pug

public_html/sistemas-de-inyeccion.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Sistemas de inyección</h2>
        <div class="col60"><a class="center__logo" href="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg" data-fancybox="sistemas-de-inyeccion" data-caption="Sistema de Inyeccion Diesel"><img src="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg" alt="Sistema de Inyeccion Diesel"/></a></div>
        <p class="content__text">El Sistema de inyección se encarga de llevar el combustible desde el tanque hasta los cilindros para su inyección. El Fuel Injection realiza la misma función que antes hacían la bomba de gasolina y el carburador. Dentro de este sistema de inyección encontramos los “inyectores” y “bombas de inyección“.</p>
        <p class="content__text">En los motores de encendido por compresión diesel, la combustión se produce cuando, el combustible que se inyecta en estado líquido, pasa a estado casi gaseoso, disgregado por medio de los inyectores y mezclados con el aire para utilizar todo el oxígeno necesario. Tras este fenómeno, la combustión se genera en puntos localizados de la cámara de combustión por autoencendido.</p>
        <p class="content__text">Sólo se introduce aire en el cilindro. Éste se calienta mucho por la compresión y atomiza combustible inyectado al final del golpe de compresión autoencendido.</p>
        <hr/>
        <article class="content__article">
          <div class="subtitle__content_big" id="BOSCH"><img class="center__logo" src="images/sistemas-de-inyeccion/isologo-bosch.jpg" alt="BOSCH"/></div>
          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Inyector Bosch -1.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch Ford Racing 880cc Oem"><img src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -1.jpeg" alt="Inyector Bosch Ford Racing 880cc Oem"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Unidad Bomba PLD de Mercedes Benz electrónico</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector-2.jpg" data-fancybox="bosch" data-caption="Inyector isl 8.9 lt cummis 0445 120304 Bosch"><img src="images/sistemas-de-inyeccion/thumb/inyector-2.jpg" alt="Inyector isl 8.9 lt cummis 0445 120304 Bosch"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Cabezales de bomba inyectora</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector-3.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch Renault 1.9 DCI"><img src="images/sistemas-de-inyeccion/thumb/inyector-3.jpeg" alt="Inyector Bosch Renault 1.9 DCI"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Inyector para sistemas commo Rail electrónico</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector4.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"><img src="images/sistemas-de-inyeccion/thumb/inyector4.jpeg" alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Elementos y válvulas de bomba inyectora</p>
          </div>
          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector-5.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"><img src="images/sistemas-de-inyeccion/thumb/inyector-5.jpeg" alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Toberas de inyectores</p>
          </div>
             <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/eje de levas.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"><img src="images/sistemas-de-inyeccion/thumb/eje de levas.jpeg" alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Eje de levas bomba inyectora 4 y 6 cilindros para Volkswagen</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Bomba de mano moderna.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"><img src="images/sistemas-de-inyeccion/thumb/Bomba de mano moderna.jpeg" alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Bomba de mano moderna</p>
          </div>

              <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Bomba de alimentación.jpeg" data-fancybox="bosch" data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"><img src="images/sistemas-de-inyeccion/thumb/Bomba de alimentación.jpeg" alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Bombas de alimentación</p>
          </div>




          <hr/>
          <div class="subtitle__content_big" id="ZEXEL"><img class="center__logo" src="images/sistemas-de-inyeccion/isotipo-zexel.jpg" alt="ZEXEL"/></div>
      
      
       
       

                  <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Valvula magnetica.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Valvula magnetica.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Válvula magnética de 12 y 24 voltios</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Toberas para inyector.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Toberas para inyector.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Toberas para inyector</p>
          </div>


           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Cabezales para Bomba Inyectora Lineal y Rotativa.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Cabezales para Bomba Inyectora Lineal y Rotativa.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Cabezales para Bomba Inyectora Rotativa</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Bomba de transferencia.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Bomba de transferencia.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Bombas de transferencia</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Disco de levas.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Disco de levas.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Disco de Levas</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Eje de accionamiento.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Eje de accionamiento.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Eje de accionamiento para bomba rotativa de 17 y 20 mm</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Elementos para Bomba Inyectora.jpeg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Elementos para Bomba Inyectora.jpeg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Elementos para bomba inyectora</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Valvulas para Bomba Inyectora.jpg" data-fancybox="zexel" data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"><img src="images/sistemas-de-inyeccion/thumb/Valvulas para Bomba Inyectora.jpg" alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Válvulas para bomba inyectora</p>
          </div>



          <hr/>
          <div class="subtitle__content_big" id="DELPHI"><img class="center__logo" src="images/sistemas-de-inyeccion/isologo-delphi.jpg" alt="Delphi"/></div>
           
      
          <!-- <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Inyectores Delphi -1.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Chevrolet Captiva 2.2 E5"><img src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -1.jpg" alt="Inyector Delphi Chevrolet Captiva 2.2 E5"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Inyector Delphi Chevrolet Captiva 2.2 E5</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Inyectores Delphi -2.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -2.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2</p>
          </div> -->

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector bomba electronica eui.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/inyector bomba electronica eui.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Inyector bomba Electrónica EUI D12A, 2 y 4 Pines</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector dephi -6.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/inyector dephi -6.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Repuestos para inyectores EUI's</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/cabezal para bomba.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/cabezal para bomba.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Cabezales para bomba inyectora PDA, DP200, DP203, DP210 y más</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/toberas para inyectores.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/toberas para inyectores.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Toberas para inyectores Electrónicos y Mecánicos</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/solenoide actuador.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/solenoide actuador.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Solenoide actuador EUI 2 pines</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/solenoide E3.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/thumb/solenoide E3.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Solenoide actuador EUI serie E3 de 4 pines</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/solenoide volvo.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/solenoide volvo.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Solenoide actuador EUI seria A de Volvo FH12</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/bomas inyectoras delphi.jpg" data-fancybox="delphi" data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"><img src="images/sistemas-de-inyeccion/bomas inyectoras delphi.jpg" alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Bombas Inyectoras</p>
          </div>



          <hr/>
          <div class="subtitle__content_big" id="DENSO"><img class="center__logo" src="images/sistemas-de-inyeccion/isologo-denso.jpg" alt="Denso"/></div>
     
      
 


          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Valvula de control para bomba.jpeg" data-fancybox="denso" data-caption="Denso - Sistema de Inyección"><img src="images/sistemas-de-inyeccion/thumb/Valvula de control para bomba.jpeg" alt="Sistemas de Inyeccioń"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Válvula de control para bomba Common Rail</p>
          </div>

           <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Sensor para presion.jpeg" data-fancybox="denso" data-caption="Denso - Sistema de Inyección"><img src="images/sistemas-de-inyeccion/Sensor para presion.jpeg" alt="Sistemas de Inyeccioń"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Sensor para presión de Riel para sistema Common Rail</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/Bombas de alta presion.jpeg" data-fancybox="denso" data-caption="Denso - Sistema de Inyección"><img src="images/sistemas-de-inyeccion/Bombas de alta presion.jpeg" alt="Sistemas de Inyeccioń"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Bombas de alta presión Common Rail</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/inyector de sistema common.jpeg" data-fancybox="denso" data-caption="Denso - Sistema de Inyección"><img src="images/sistemas-de-inyeccion/inyector de sistema common.jpeg" alt="Sistemas de Inyeccioń"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Inyector para sistema Common Rail</p>
          </div>

          <div class="gallery__item"><a class="col__img" href="images/sistemas-de-inyeccion/toberas.jpg" data-fancybox="denso" data-caption="Denso - Sistema de Inyección"><img src="images/sistemas-de-inyeccion/toberas.jpg" alt="Sistemas de Inyeccioń"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Toberas</p>
          </div>

          <hr/>
        </article>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item active"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
