public_html/tractores-agricolas.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Tractores agrícolas</h2>
        <article class="content__article">
          <figure class="content__img"><img src="images/tractores/zetor-1.jpg" alt="TRACTOR ZETOR"/></figure>
          <ul class="content__list">
            <div class="col50">
              <li class="content__li">Motor diesel turbo intercooler</li>
              <li class="content__li">Toma de fuerza dos velocidades 540/1000 rpm.</li>
              <li class="content__li">Dirección hidrostática.</li>
              <li class="content__li">Bajo consumo de combustible.</li>
              <li class="content__li">Excelente relación precio/potencia.</li>
            </div>
            <div class="col50">
              <li class="content__li">Fácil mantenimiento.</li>
              <li class="content__li">Alta confiabilidad</li>
              <li class="content__li">Disponibilidad de repuestos inmediata</li>
              <li class="content__li">Garantía de 18 meses ó 100 Hrs.</li>
            </div>
          </ul>
        </article>
        <hr/>
        <article class="table-container">
          <h3 class="subtitle__content_big">Características Tractor</h3>
          <table class="table-rwd">
            <thead>
              <tr>
                <th>TRACTOR</th>
                <th>POTENCIA</th>
                <th>TRACCIÓN</th>
                <th>TRANSMISIÓN</th>
                <th>CABINA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MAJOR 80</td>
                <td>80 HP</td>
                <td>SIMPLE</td>
                <td>12/12 VELOC</td>
                <td>NO</td>
              </tr>
              <tr>
                <td>MAJOR 80</td>
                <td>80 HP</td>
                <td>DOBLE</td>
                <td>12/12 VELOC</td>
                <td>SI</td>
              </tr>
              <tr>
                <td>PROXIMA 85</td>
                <td>85 HP</td>
                <td>SIMPLE              </td>
                <td>12/12 VELOC</td>
                <td>NO</td>
              </tr>
              <tr>
                <td>PROXIMA 85</td>
                <td>85 HP</td>
                <td>DOBLE</td>
                <td>12/12 VELOC</td>
                <td>SI</td>
              </tr>
              <tr>
                <td>PROXIMA 100</td>
                <td>100 HP</td>
                <td>DOBLE</td>
                <td>12/12 VELOC</td>
                <td>SI</td>
              </tr>
              <tr>
                <td>PROXIMA POWER</td>
                <td>120 HP</td>
                <td>DOBLE</td>
                <td>24/24 VELOC</td>
                <td>SI</td>
              </tr>
            </tbody>
          </table>
        </article>
        <hr/>
        <article class="content__article">
          <h3 class="subtitle__content_big">&#10003; Major 80 HP con cabina</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 80 cabina -4.jpg" data-fancybox="zetor" data-caption="Zetor Major 80 cabina"><img src="images/tractores/thumb/Zetor Major 80 cabina -4.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 80 cabina -2.jpg" data-fancybox="zetor" data-caption="Zetor Major 80 cabina"><img src="images/tractores/thumb/Zetor Major 80 cabina -2.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 80 cabina -3.jpg" data-fancybox="zetor" data-caption="Zetor Major 80 cabina"><img src="images/tractores/thumb/Zetor Major 80 cabina -3.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <hr/>
          <h3 class="subtitle__content_big">&#10003; Major 80 HP sin cabina</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor-Major-80-sin cabina.png" data-fancybox="zetor" data-caption="Zetor Major 80 sin cabina"><img src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor-Major-80-sin cabina.png" data-fancybox="zetor" data-caption="Zetor Major 80 sin cabina"><img src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor-Major-80-sin cabina.png" data-fancybox="zetor" data-caption="Zetor Major 80 sin cabina"><img src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <hr/>
          <h3 class="subtitle__content_big">&#10003; Major 85 HP con cabina</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 85 cabina -1.jpg" data-fancybox="zetor" data-caption="Zetor Major 85 cabina"><img src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 85 cabina -2.jpg" data-fancybox="zetor" data-caption="Zetor Major 85 cabina"><img src="images/tractores/thumb/Zetor Major 85 cabina -2.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major 85 cabina -1.jpg" data-fancybox="zetor" data-caption="Zetor Major 85 cabina"><img src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <hr/>
          <h3 class="subtitle__content_big">&#10003; Major Proxima 100 HP</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 100 -1.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 100"><img src="images/tractores/thumb/Zetor Major Proxima 100 -1.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 100 -2.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 100"><img src="images/tractores/thumb/Zetor Major Proxima 100 -2.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 100.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 100"><img src="images/tractores/thumb/Zetor Major Proxima 100.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <hr/>
          <h3 class="subtitle__content_big">&#10003; Major Proxima 120 HP</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120 cabina"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina -3.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina -3.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120 cabina"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <hr/>
          <h3 class="subtitle__content_big">&#10003; Proxima Power 120 HP</h3>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina -4.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120 cabina"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina -4.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina -1.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120 cabina"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina -1.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
          <div class="gallery__item"><a class="col__img" href="images/tractores/Zetor Major Proxima 120 cabina.jpg" data-fancybox="zetor" data-caption="Zetor Major Proxima 120 cabina"><img src="images/tractores/thumb/Zetor Major Proxima 120 cabina.jpg" alt="Tractores Zetor"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a></div>
        </article>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item active"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/tractores-agricolas.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Tractores agrícolas
        //- img.center__logo(src="images/tractores/isotipo-zetor.png", alt="Tractores Zetor")
        article.content__article
          //- h3.subtitle__content 70 años en el mercado mundial
          figure.content__img
            img(src="images/tractores/zetor-1.jpg", alt="TRACTOR ZETOR")
          ul.content__list
              .col50
                li.content__li Motor diesel turbo intercooler
                li.content__li Toma de fuerza dos velocidades 540/1000 rpm.
                li.content__li Dirección hidrostática.
                li.content__li Bajo consumo de combustible.
                li.content__li Excelente relación precio/potencia.
              .col50
                li.content__li Fácil mantenimiento.
                li.content__li Alta confiabilidad
                li.content__li Disponibilidad de repuestos inmediata
                li.content__li Garantía de 18 meses ó 100 Hrs.
        hr
        article.table-container
          h3.subtitle__content_big Características Tractor
          table.table-rwd
            thead
              tr
                th TRACTOR
                th POTENCIA
                th TRACCIÓN
                th TRANSMISIÓN
                th CABINA
            tbody
              tr
                td MAJOR 80
                td 80 HP
                td SIMPLE
                td 12/12 VELOC
                td NO
              tr
                td MAJOR 80
                td 80 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA 85
                td 85 HP
                td SIMPLE              
                td 12/12 VELOC
                td NO
              tr
                td PROXIMA 85
                td 85 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA 100
                td 100 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA POWER
                td 120 HP
                td DOBLE
                td 24/24 VELOC
                td SI
        hr
        article.content__article
          h3.subtitle__content_big &#10003; Major 80 HP con cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -4.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -4.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          //- .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -3.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -3.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          hr
          h3.subtitle__content_big &#10003; Major 80 HP sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          hr
          h3.subtitle__content_big &#10003; Major 85 HP con cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          hr
          h3.subtitle__content_big &#10003; Major Proxima 100 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100 -1.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100 -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100 -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100 -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          hr
          h3.subtitle__content_big &#10003; Major Proxima 120 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -3.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -3.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          hr  
          h3.subtitle__content_big &#10003; Proxima Power 120 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -4.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -4.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
      +aside('TRACTORES AGRÍCOLAS')
    include blocks/footer.pug
