public_html/turboalimentadores.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta property="og:title" content="Morales &amp; Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores."/>
    <meta property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="styles.css?v1.0.1"/>
    <title>Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores</title>
  </head>
  <body class="body">
    <header class="header">
      <div class="header__container">
        <div class="header__inicio">
          <ul class="main-inicio">
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./">Inicio</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html">Nosotros</a></li>
            <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html">Contactos      </a></li>
          </ul>
          <div class="header__slogan">
            <h3 class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.1s">LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS</h3>
          </div>
        </div>
        <div class="main-center toggle__menu">
          <div class="main-end button__toggle button" id="main-nav-toggle"><span>MENÚ </span>
            <div class="nav-toggle">       </div>
          </div>
        </div>
        <div class="header__logo"><a href="./"><img src="./images/isologo.png" alt="Morales &amp; CIA"/></a>
          <div class="logo__unbral"></div>
        </div>
      </div>
    </header>
    <section class="section">
      <main class="content">
        <h2 class="title__content">Turbo-alimentadores</h2>
        <div class="col60"><a class="center__logo" href="images/turboalimentadores/turbo alimentador BorgWarner-3.jpg" data-fancybox="turboalimentadores" data-caption="Turboalimentadores"><img src="images/turboalimentadores/turbo alimentador BorgWarner-3.jpg" alt="Turboalimentadores"/></a></div>
        <p class="content__text">Llamamos turbo al sistema de sobrealimentación que ayuda a comprimir el aire que circula hasta el motor, enviando así más oxígeno para mezclar con una mayor cantidad de carburante. De esta manera, al elevar la cantidad de combustión, se obtiene un aumento de potencia.</p>
        <p class="content__text">La potencia que es capaz de generar un motor depende básicamente de la cantidad de oxígeno que es capaz de hacer reaccionar con el combustible, por lo que cuanto más aire es capaz de “bombear” una mecánica, más fuerza tiene. Hay dos formas de conseguir que en un motor entre mucho aire: aumentando el volumen interno para que quepa la mayor cantidad posible o comprimir el aire para que sea capaz de entrar mucho en una cilindrada pequeña. Esta última alternativa es lo que se conoce como “sobrealimentación”  y se consigue comprimiendo el aire antes de meterlo en los cilindros. Para ello se emplean diferentes dispositivos, siendo el más utilizado el turbo.</p>
        <hr/>
        <article class="content__article">
          <div class="subtitle__content_big" id="BORGWARNER"><img class="center__logo" src="images/turboalimentadores/isologo-borgwarner.png" alt="BorgWarner"/></div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-1.jpg" data-fancybox="borgwarner" data-caption="Borg Warner EFR-7163 Turbo"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-1.jpg" alt="Borg Warner EFR-7163 Turbo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Borg Warner EFR-7163 Turbo</p>
          </div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-2.jpg" data-fancybox="borgwarner" data-caption="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-2.jpg" alt="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)</p>
          </div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-3.jpg" data-fancybox="borgwarner" data-caption="S300SX3 Turbo 66mm T4 Open 0.88 A/R"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-3.jpg" alt="S300SX3 Turbo 66mm T4 Open 0.88 A/R"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">S300SX3 Turbo 66mm T4 Open 0.88 A/R</p>
          </div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-4.jpg" data-fancybox="borgwarner" data-caption="BorgWarner EFR Turbo-6758-F Turbine Housing"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-4.jpg" alt="BorgWarner EFR Turbo-6758-F Turbine Housing"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">BorgWarner EFR Turbo-6758-F Turbine Housing</p>
          </div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-5.jpg" data-fancybox="borgwarner" data-caption="Borg Warner S257sx-e FMW Turbo"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-5.jpg" alt="Borg Warner S257sx-e FMW Turbo"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Borg Warner S257sx-e FMW Turbo</p>
          </div>
          <div class="gallery__item"> <a class="col__img" href="images/turboalimentadores/turbo alimentador BorgWarner-6.png" data-fancybox="borgwarner" data-caption="Borg Warner s500sx 88mm Turbocharger"><img src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-6.png" alt="Borg Warner s500sx 88mm Turbocharger"/>
              <div class="gallery__hover">Ver más <i class="icon-search"></i></div></a>
            <p class="gallery__text">Borg Warner s500sx 88mm Turbocharger</p>
          </div>
      </main>
        <aside class="menu-aside">
          <nav class="main-nav" id="main-nav">
            <ul class="main-movil">
              <li class="main-movil__item"><a class="main-movil__link" href="./">Inicio</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./nosotros.html">Nosotros</a></li>
              <li class="main-movil__item"><a class="main-movil__link" href="./contactos.html">Contactos</a></li>
            </ul>
            <ul class="main-menu" id="main-menu">
              <li class="main-menu__item"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item active"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a></li>
            </ul>
            <ul class="main-desktop">
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0s"><a class="main-menu__link" href="sistemas-de-inyeccion.html">SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#BOSCH">Bosch</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#ZEXEL">Zexel</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DELPHI">Delphi</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="sistemas-de-inyeccion.html#DENSO">Denso</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight item__active" data-wow-duration="1.5s" data-wow-delay="0.1s"><a class="main-menu__link" href="turboalimentadores.html">TURBOALIMENTADORES</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#BORGWARNER">BorgWarner</a></li>
                  <!--<li class="submenu__li"><a class="submenu__link" href="turboalimentadores.html#GARRETT">Garrett</a></li>-->
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.2s"><a class="main-menu__link" href="tractores-agricolas.html">TRACTORES AGRÍCOLAS [ZETOR]</a></li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.3s"><a class="main-menu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html">REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos">Sistemas de inyección diesel mecánicos</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos">Sistemas de inyección diésel electrónicos</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.4s"><a class="main-menu__link" href="laboratorio-de-reparacion-y-balanceo.html">LABORATORIO DE REPARACIÓN Y BALANCEO</a>
                <ul class="submenu main-desktop">
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores">Balanceo dinámico de turboalimentadores</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital">Balanceo electrónico o digital</a></li>
                </ul>
              </li>
              <li class="main-menu__item item__toggle wow rotateInUpRight" data-wow-duration="1.5s" data-wow-delay="0.5s"><a class="main-menu__link" href="repuestos-para-tractores-agricolas.html">REPUESTOS PARA TRACTORES AGRÍCOLAS</a>
                <ul class="submenu main-desktop">
                  <!--<li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#fiat">FIAT</a></li>
                  <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#perkins">Perkins</a></li>-->
                  <!-- <li class="submenu__li"><a class="submenu__link" href="repuestos-para-tractores-agricolas.html#massey-ferguson">Massey Ferguson</a></li> -->
                </ul>
              </li>
              <div class="ir-arriba" id="ir-arriba" style="display: block;"> <span>^</span><b>IR ARRIBA </b></div>
            </ul>
          </nav>
        </aside>
    </section>
    <footer>
      <div class="footer">
        <div class="footer__footer">
          <div class="footer__main">
            <div class="footer__content_services footer__copyright">       
              <p>Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span></p><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
            </div>
            <div class="footer__content_adress">
              <h2 class="footer__title">COCHABAMBA - BOLIVIA</h2>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span></p>
              <p class="footer__text"><span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span></p>
              <div class="footer__contact">
                <div class="colEmail">
                  <p class="footer__text">moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo</p>
                </div>
                <div class="colWhatsapp">
                  <p class="footer__text block"><span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_providers">
        <div class="provider__title">
          <h2 class="provider__title_h2">NUESTROS PROVEEDORES:</h2>
        </div>
        <div class="provider__slide"></div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/turboalimentadores.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Turbo-alimentadores
        .col60
          a.center__logo(href="images/turboalimentadores/turbo alimentador Garrett -3.jpg", data-fancybox="turboalimentadores", data-caption="Turboalimentadores")
            img(src="images/turboalimentadores/turbo alimentador Garrett -3.jpg", alt="Turboalimentadores")
        p.content__text Llamamos turbo al sistema de sobrealimentación que ayuda a comprimir el aire que circula hasta el motor, enviando así más oxígeno para mezclar con una mayor cantidad de carburante. De esta manera, al elevar la cantidad de combustión, se obtiene un aumento de potencia.
        p.content__text La potencia que es capaz de generar un motor depende básicamente de la cantidad de oxígeno que es capaz de hacer reaccionar con el combustible, por lo que cuanto más aire es capaz de “bombear” una mecánica, más fuerza tiene. Hay dos formas de conseguir que en un motor entre mucho aire: aumentando el volumen interno para que quepa la mayor cantidad posible o comprimir el aire para que sea capaz de entrar mucho en una cilindrada pequeña. Esta última alternativa es lo que se conoce como “sobrealimentación”  y se consigue comprimiendo el aire antes de meterlo en los cilindros. Para ello se emplean diferentes dispositivos, siendo el más utilizado el turbo.
        hr
        article.content__article
          //- h3#borgwarner.subtitle__content_big BorgWarner
          #BORGWARNER.subtitle__content_big
            img.center__logo(src="images/turboalimentadores/isologo-borgwarner.png", alt="BorgWarner")
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-1.jpg", data-fancybox="borgwarner", data-caption="Borg Warner EFR-7163 Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-1.jpg", alt="Borg Warner EFR-7163 Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner EFR-7163 Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-2.jpg", data-fancybox="borgwarner", data-caption="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-2.jpg", alt="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-3.jpg", data-fancybox="borgwarner", data-caption="S300SX3 Turbo 66mm T4 Open 0.88 A/R")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-3.jpg", alt="S300SX3 Turbo 66mm T4 Open 0.88 A/R")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text S300SX3 Turbo 66mm T4 Open 0.88 A/R
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-4.jpg", data-fancybox="borgwarner", data-caption="BorgWarner EFR Turbo-6758-F Turbine Housing")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-4.jpg", alt="BorgWarner EFR Turbo-6758-F Turbine Housing")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text BorgWarner EFR Turbo-6758-F Turbine Housing
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-5.jpg", data-fancybox="borgwarner", data-caption="Borg Warner S257sx-e FMW Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-5.jpg", alt="Borg Warner S257sx-e FMW Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner S257sx-e FMW Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-6.png", data-fancybox="borgwarner", data-caption="Borg Warner s500sx 88mm Turbocharger")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-6.png", alt="Borg Warner s500sx 88mm Turbocharger")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner s500sx 88mm Turbocharger
          hr
          //- h3#garrett.subtitle__content_big Garrett
          #GARRETT.subtitle__content_big
            img.center__logo(src="images/turboalimentadores/isologo-garrett.jpg", alt="Garrett")
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -1.jpg", data-fancybox="garrett", data-caption="Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -1.jpg", alt="Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -2.jpg", data-fancybox="garrett", data-caption="Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -2.jpg", alt="Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -3.jpg", data-fancybox="garrett", data-caption="Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -3.jpg", alt="Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -4.jpg", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -4.jpg", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -5.jpg", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -5.jpg", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -6.png", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -6.png", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
      +aside('TURBOALIMENTADORES')
    include blocks/footer.pug
